<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>

  <meta name="description" content="bestcs" />
  <meta
    name="keywords"
    content="BestCS richmond university of richmond computer science CS"
  />
  <meta property="og:title" content="BestCS @ Richmond" />
  <meta
    property="og:description"
    content="A Resource Sharing Website for UofR CS"
  />
  <meta
    property="og:image"
    content="{{ site.baseurl }}/static/assets/bettercs.png"
  />
  <meta property="og:url" content="https://bestcs.dev/" />
  <link
    rel="shortcut icon"
    href="{{ site.baseurl }}/static/assets/bettercs.png"
  />

  <script src="/static/Js/script.js" defer></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/static/css/stylesheet.css" />
  <link
    rel="icon"
    type="image/x-icon"
    href="{{ site.baseurl }}/static/assets/ico.svg"
    id="tab_icon"
  />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FK80XN41WJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FK80XN41WJ');
</script>
