@import url('https://fonts.googleapis.com/css?family=Roboto');

/* :root{
    --main_color: rgb(139, 0, 0);
    --BG_color: rgb(26, 37, 61);
    --secondary_color: rgb(169, 169, 179);

} */

/* Only for debugging */
div{
    /* border: 2px solid gold; */
}

html, button, input, select, textarea {
    font-family: ROBOTO;
    /* font-family: sans-serif; */
}

body{
    /* background-color: rgb(34, 34, 34); */
    background-color: rgb(26, 37, 61);
    color: rgb(169, 169, 179);


}

body a:link{
    text-decoration: none;
}


img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-size: 28px;
    /* color: rgb(169, 169, 179); */
    color: rgb(139, 0, 0);
    letter-spacing: 28.5px;
    height: 29px;
    text-align: center;
    /* transform: translateX(35px); */
    padding-left: 35px;
    font-weight: lighter;
    /* border: 2px solid gold; */
}

#title:hover {
    opacity: 0.5;
}

#frameContent {
    /* outline: 5px dotted yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    word-wrap: break-word;
    margin-top: 20px;
    width:800px;
    line-height: 1.25em;
    font-size: 17px;
}

@media (max-width:800px){
    #content {
       margin-right:20px;
       width:100%;
       word-wrap: break-word;
    }
}

@media screen and (max-device-width: 500px) {
    #title{
        font-size: 40px;
    }
    #content {
        margin-top: 30px;
    }
}


#content a:link {
    color:rgb(169, 169, 179);
    text-decoration: underline;
}
#content a:visited{
    color:rgb(169, 169, 179);
}
#content a:hover {
    /* color: lightyellow; */
    color: rgb(139, 0, 0);
}


